In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
standardizer = StandardScaler()
import pickle

In [4]:
data=pd.read_csv('smmh.csv')

In [9]:
data.rename(columns = {'1. What is your age?':'Age','2. Gender':'Sex','3. Relationship Status':'Relationship Status',
                       '4. Occupation Status':'Occupation',
                       '5. What type of organizations are you affiliated with?':'Affiliations',
                       '6. Do you use social media?':'Social Media User?',
                       '7. What social media platforms do you commonly use?':'Platforms Used',
                       '8. What is the average time you spend on social media every day?':'Time Spent',
                       '9. How often do you find yourself using Social media without a specific purpose?':'ADHD Q1',
                       '10. How often do you get distracted by Social media when you are busy doing something?':'ADHD Q2',
                       "11. Do you feel restless if you haven't used Social media in a while?":'Anxiety Q1',
                       '12. On a scale of 1 to 5, how easily distracted are you?':'ADHD Q3',
                       '13. On a scale of 1 to 5, how much are you bothered by worries?':'Anxiety Q2',
                       '14. Do you find it difficult to concentrate on things?':'ADHD Q4',
                       '15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?':'Self Esteem Q1',
                       '16. Following the previous question, how do you feel about these comparisons, generally speaking?':'Self Esteem Q2',
                       '17. How often do you look to seek validation from features of social media?':'Self Esteem Q3',
                       '18. How often do you feel depressed or down?':'Depression Q1',
                       '19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?':'Depression Q2',
                       '20. On a scale of 1 to 5, how often do you face issues regarding sleep?':'Depression Q3' },inplace=True)

In [10]:
titles = list(data.columns)
titles

['Timestamp',
 'Age',
 'Sex',
 'Relationship Status',
 'Occupation',
 'Affiliations',
 'Social Media User?',
 'Platforms Used',
 'Time Spent',
 'ADHD Q1',
 'ADHD Q2',
 'Anxiety Q1',
 'ADHD Q3',
 'Anxiety Q2',
 'ADHD Q4',
 'Self Esteem Q1',
 'Self Esteem Q2',
 'Self Esteem Q3',
 'Depression Q1',
 'Depression Q2',
 'Depression Q3']

In [11]:
# rearranging ADHD and anxiety question columns so that they are sequential

titles[11], titles[12] = titles[12], titles[11]
titles[12], titles[14] = titles[14], titles[12]
titles[13], titles[14] = titles[14], titles[13]
data = data[titles]
titles

['Timestamp',
 'Age',
 'Sex',
 'Relationship Status',
 'Occupation',
 'Affiliations',
 'Social Media User?',
 'Platforms Used',
 'Time Spent',
 'ADHD Q1',
 'ADHD Q2',
 'ADHD Q3',
 'ADHD Q4',
 'Anxiety Q1',
 'Anxiety Q2',
 'Self Esteem Q1',
 'Self Esteem Q2',
 'Self Esteem Q3',
 'Depression Q1',
 'Depression Q2',
 'Depression Q3']

In [12]:
#List all the unique Gender/Sex entries.

Genders = set(data['Sex'])
print(Genders)

{'Male', 'Female', 'unsure ', 'Non-binary', 'There are others???', 'Nonbinary ', 'NB', 'Non binary ', 'Trans'}

In [13]:
data.drop(data.loc[data['Sex'] =='There are others???'].index, inplace=True)

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\2341450035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.loc[data['Sex'] =='There are others???'].index, inplace=True)

In [14]:
Genders = set(data['Sex'])
print(Genders)

{'Male', 'Female', 'unsure ', 'Non-binary', 'Nonbinary ', 'NB', 'Non binary ', 'Trans'}

In [15]:
#Combining the unique entries that all fall under the "Others" category
data.replace('Non-binary','Others', inplace=True)
data.replace('Nonbinary ','Others', inplace=True)
data.replace('NB','Others', inplace=True)
data.replace('unsure ','Others', inplace=True)
data.replace('Non binary ','Others', inplace=True)
data.replace('Trans','Others', inplace=True)

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3297322303.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace('Non-binary','Others', inplace=True)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3297322303.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace('Nonbinary ','Others', inplace=True)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3297322303.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace('NB','Others', inplace=True)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3297322303.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace('unsure ','Others', inplace=True)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3297322303.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace('Non binary ','Others', inplace=True)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3297322303.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace('Trans','Others', inplace=True)

In [16]:
Genders = set(data['Sex'])
print(Genders)

{'Others', 'Male', 'Female'}

In [17]:
#Converting Age from float64 to int64 and displaying record # 382
data['Age'] = data['Age'].astype('int64')

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\1709854743.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Age'] = data['Age'].astype('int64')

In [19]:
#float64 changed to int32
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 0 to 480
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Timestamp            480 non-null    object
 1   Age                  480 non-null    int64
 2   Sex                  480 non-null    object
 3   Relationship Status  480 non-null    object
 4   Occupation           480 non-null    object
 5   Affiliations         450 non-null    object
 6   Social Media User?   480 non-null    object
 7   Platforms Used       480 non-null    object
 8   Time Spent           480 non-null    object
 9   ADHD Q1              480 non-null    int64
 10  ADHD Q2              480 non-null    int64
 11  ADHD Q3              480 non-null    int64
 12  ADHD Q4              480 non-null    int64
 13  Anxiety Q1           480 non-null    int64
 14  Anxiety Q2           480 non-null    int64
 15  Self Esteem Q1       480 non-null    int64
 16  Self Esteem Q2       480 non-null    int64
 17  Self Esteem Q3       480 non-null    int64
 18  Depression Q1        480 non-null    int64
 19  Depression Q2        480 non-null    int64
 20  Depression Q3        480 non-null    int64
dtypes: int64(13), object(8)
memory usage: 82.5+ KB

In [22]:
#setting scores of 3,4 and 5 to 0.
data.loc[data['Self Esteem Q2'] == 3, 'Self Esteem Q2'] = 0
data.loc[data['Self Esteem Q2'] == 4, 'Self Esteem Q2'] = 0
data.loc[data['Self Esteem Q2'] == 5, 'Self Esteem Q2'] = 0
#Setting scores of '1' to '4' and '2' to '2'.
data.loc[data['Self Esteem Q2'] == 1, 'Self Esteem Q2'] = 4
data.loc[data['Self Esteem Q2'] == 2, 'Self Esteem Q2'] = 2

In [23]:
#Summing scores from ADHD, Anxiety, Self Esteem and Depression individually and creating a new column

ADHD = ['ADHD Q1', 'ADHD Q2', 'ADHD Q3', 'ADHD Q4']
data['ADHD Score'] = data[ADHD].sum(axis=1)

Anxiety = ['Anxiety Q1', 'Anxiety Q2']
data['Anxiety Score'] = data[Anxiety].sum(axis=1)

SelfEsteem = ['Self Esteem Q1', 'Self Esteem Q2','Self Esteem Q3']
data['Self Esteem Score'] = data[SelfEsteem].sum(axis=1)

Depression = ['Depression Q1', 'Depression Q2','Depression Q3']
data['Depression Score'] = data[Depression].sum(axis=1)

Total = ['ADHD Score', 'Anxiety Score','Self Esteem Score','Depression Score']
data['Total Score'] = data[Total].sum(axis=1)

#Deleting question columns and timestamp columns as they are no longer used
data.drop(data.iloc[:, 9:21], inplace = True, axis = 1)
data.drop(['Timestamp'], inplace = True, axis = 1)

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\407253248.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ADHD Score'] = data[ADHD].sum(axis=1)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\407253248.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Anxiety Score'] = data[Anxiety].sum(axis=1)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\407253248.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Self Esteem Score'] = data[SelfEsteem].sum(axis=1)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\407253248.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Depression Score'] = data[Depression].sum(axis=1)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\407253248.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Total Score'] = data[Total].sum(axis=1)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\407253248.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.iloc[:, 9:21], inplace = True, axis = 1)
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\407253248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['Timestamp'], inplace = True, axis = 1)

In [24]:
data.head(5)

,Age,Sex,Relationship Status,Occupation,Affiliations,Social Media User?,Platforms Used,Time Spent,ADHD Score,Anxiety Score,Self Esteem Score,Depression Score,Total Score
0,21,Male,In a relationship,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,18,4,4,14,40
1,21,Female,Single,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",More than 5 hours,15,7,10,14,46
2,21,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube, Pinterest",Between 3 and 4 hours,11,6,4,11,32
3,21,Female,Single,University Student,University,Yes,"Facebook, Instagram",More than 5 hours,12,6,11,9,38
4,21,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube",Between 2 and 3 hours,17,9,6,9,41

In [25]:
def map_score(score):
  if score < 40:
    return "0"
  elif score >= 40:
    return "1"

data['Outcome']= data['Total Score'].apply(lambda score: map_score(score))
data['Outcome'] = data['Outcome'].astype('int64')

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3997127848.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Outcome']= data['Total Score'].apply(lambda score: map_score(score))
C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3997127848.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Outcome'] = data['Outcome'].astype('int64')

In [26]:
data.shape

(480, 14)

In [27]:
# Checking the data after cleaning and transformation is applied and adding an outcome column
data.describe()

,Age,ADHD Score,Anxiety Score,Self Esteem Score,Depression Score,Total Score,Outcome
count,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000
mean,26.143750,13.460417,6.147917,6.266667,9.639583,35.514583,0.370833
std,9.923621,3.898302,2.087090,2.759635,3.104528,9.274507,0.483532
min,13.000000,4.000000,2.000000,2.000000,3.000000,14.000000,0.000000
25%,21.000000,11.000000,5.000000,4.000000,7.750000,29.000000,0.000000
50%,22.000000,14.000000,6.000000,6.000000,10.000000,36.000000,0.000000
75%,26.000000,16.000000,8.000000,8.000000,12.000000,42.000000,1.000000
max,91.000000,20.000000,10.000000,14.000000,15.000000,58.000000,1.000000

In [28]:
data.loc[data['Time Spent'] == 'Less than an Hour', 'Time Spent'] = 0
data.loc[data['Time Spent'] == 'Between 1 and 2 hours', 'Time Spent'] = 1
data.loc[data['Time Spent'] == 'Between 2 and 3 hours', 'Time Spent'] = 2
data.loc[data['Time Spent'] == 'Between 3 and 4 hours', 'Time Spent'] = 3
data.loc[data['Time Spent'] == 'Between 4 and 5 hours', 'Time Spent'] = 4
data.loc[data['Time Spent'] == 'More than 5 hours', 'Time Spent'] = 5

In [29]:
#Converting Time Spent from object type to int64.
data['Time Spent'] = data['Time Spent'].astype('int64')

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3946302415.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Time Spent'] = data['Time Spent'].astype('int64')

In [30]:
#setting Male to 0, Female to 1, and Others to 2.
data.loc[data['Sex'] == 'Male', 'Sex'] = 0
data.loc[data['Sex'] == 'Female', 'Sex'] = 1
data.loc[data['Sex'] == 'Others', 'Sex'] = 2
data['Sex'] = data['Sex'].astype('int64')

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3835348143.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sex'] = data['Sex'].astype('int64')

In [31]:
data.head(5)

,Age,Sex,Relationship Status,Occupation,Affiliations,Social Media User?,Platforms Used,Time Spent,ADHD Score,Anxiety Score,Self Esteem Score,Depression Score,Total Score,Outcome
0,21,0,In a relationship,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",2,18,4,4,14,40,1
1,21,1,Single,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",5,15,7,10,14,46,1
2,21,1,Single,University Student,University,Yes,"Facebook, Instagram, YouTube, Pinterest",3,11,6,4,11,32,0
3,21,1,Single,University Student,University,Yes,"Facebook, Instagram",5,12,6,11,9,38,0
4,21,1,Single,University Student,University,Yes,"Facebook, Instagram, YouTube",2,17,9,6,9,41,1

In [32]:
data.drop(['Total Score'], inplace = True, axis = 1)

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\2834810466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['Total Score'], inplace = True, axis = 1)

In [33]:
#Deleting columns and updating dataset for training and predicting.
data.drop(data.iloc[:, 2:7], inplace = True, axis = 1)

C:\Users\Anthony\AppData\Local\Temp\ipykernel_26608\3796202224.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data.iloc[:, 2:7], inplace = True, axis = 1)

In [34]:
#printing the new dataset that will be used for machine learning sequence
data.head()

,Age,Sex,Time Spent,ADHD Score,Anxiety Score,Self Esteem Score,Depression Score,Outcome
0,21,0,2,18,4,4,14,1
1,21,1,5,15,7,10,14,1
2,21,1,3,11,6,4,11,0
3,21,1,5,12,6,11,9,0
4,21,1,2,17,9,6,9,1

In [35]:
#Splitting up the data into "Train" and "Test". 80% train, 20% test.
X = data.drop(['Outcome'], axis = 1)
y = data['Outcome']
#X = standardizer.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.30,random_state=6)

In [36]:
#Create Logistic regression model and GaussianNB model
model = LogisticRegression()
modelNB = GaussianNB()

In [71]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import VotingRegressor

In [37]:
# Call LinearRegression() to predict.
model.fit(X_train, y_train)

LogisticRegression()

In [38]:
predicted= model.predict(X_test)
accuracy= model.score(X_test,y_test)

In [39]:
print("Predicted Values using Logistic Regression: ", predicted)
print("Accuracy of Logistic Regression: ",metrics.accuracy_score(y_test, predicted))
# Model Accuracy
print('Accuracy score using the Logistic regression model: ', accuracy*100,'%')

Predicted Values using Logistic Regression:  [1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 1 1 1 1 0 1 1 0 0 0 0 1 0 0 0 1 0 1 0
 1 0 1 0 1 0 0 0 1 0 1 1 1 1 0 1 0 1 0 0 1 0 0 0 0 0 1 1 0 0 1 1 0 0 0 0 0
 1 0 0 0 0 0 0 1 0 0 0 1 1 1 1 1 1 0 1 0 1 0 1 0 0 0 0 1 1 1 1 1 1 0 0 0 0
 1 1 1 0 0 0 1 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 1 0 0 1 0 1 1 0 1 0 0]
Accuracy of Logistic Regression:  0.9930555555555556
Accuracy score using the Logistic regression model:  99.30555555555556 %

In [56]:
print(model.predict(np.array([[21, 0, 2, 18, 4, 4, 14]]))[0])

1

C:\Users\Anthony\anaconda3\envs\ecs171\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [48]:
with open('logistic_regression.pkl', 'wb') as f:
    pickle.dump(model, f)

In [83]:
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import Int64TensorType

initial_type = [('float_input', FloatTensorType([None, 7]))]  # assuming your input is an array of 7 integers

# Convert the model to ONNX
onx = convert_sklearn(model, initial_types=initial_type)

# Save the model
with open("log_reg.onnx", "wb") as f:
    f.write(onx.SerializeToString())

In [68]:
import onnx
onnx_model = onnx.compose.convert_sklearn(model, "my_logistic_regression_model")

AttributeError: module 'onnx.compose' has no attribute 'convert_sklearn'

In [85]:
import onnxruntime as rt

# Load the ONNX model
sess = rt.InferenceSession("log_reg.onnx")

# Get the input name
input_name = sess.get_inputs()[0].name

# Make a prediction
input_data = np.array([[21, 0, 2, 18, 4, 4, 14]], dtype=np.float32)  # replace your_input_data with your actual data
pred_onx = sess.run(None, {input_name: input_data})

In [86]:
pred_onx

[array([1], dtype=int64), [{0: 0.13140901923179626, 1: 0.8685909509658813}]]